---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{%- set lastPost = collections.blogPosts[0].date if collections.blogPosts.length else page.date -%}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc><lastmod>{{ lastPost | dateISO }}</lastmod><priority>1.0</priority></url>
  <url><loc>{{ '/blog/' | absUrl }}</loc><lastmod>{{ lastPost | dateISO }}</lastmod><priority>0.8</priority></url>
  {%- for c in collections.categoryList %}
  <url><loc>{{ ('/blog/category/' ~ c.key ~ '/') | absUrl }}</loc><lastmod>{{ c.posts[0].date | dateISO }}</lastmod><priority>0.5</priority></url>
  {%- endfor %}
  {%- for p in collections.blogPosts %}
  <url><loc>{{ p.url | absUrl }}</loc><lastmod>{{ (p.data.updated or p.date) | dateISO }}</lastmod><priority>0.7</priority></url>
  {%- endfor %}
</urlset>
