---
layout: base.njk
title: 문의가 접수됐어요
description: 문의가 접수됐어요.
robots: noindex
permalink: /thanks/
eleventyExcludeFromCollections: true
---
<section class="notice-page"><div class="wrap">
  <h1>문의가 접수됐어요</h1>
  <p>남겨 주신 연락처로 곧 연락드릴게요. 급하시면 전화 주세요.</p>
  <div class="btns"><a class="btn btn-call" href="tel:{{ site.tel }}">{{ site.phone }}</a><a class="btn btn-line" href="/">메인으로</a></div>
</div></section>
